
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Models
*.pth
*.h5
*.onnx
backend/distilbert_model/

# Android
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
